<% content_for :title, "Editing funcao" %>

<h1>Editing funcao</h1>

<%= render "form", funcao: @funcao %>

<br>

<div>
  <%= link_to "Show this funcao", @funcao %> |
  <%= link_to "Back to funcoes", funcoes_path %>
</div>
