<div id="<%= dom_id categoria_produto %>">
  <p>
    <strong>Categoria:</strong>
    <%= categoria_produto.categoria_id %>
  </p>

  <p>
    <strong>Produto:</strong>
    <%= categoria_produto.produto_id %>
  </p>

</div>
