<%# frozen_string_literal: true %>
<%%= simple_form_for(@<%%= singular_table_name %>, html: { class: "container-fluid page-inner, style: "margin-top: 20px;" }) do |f| %>
<!-- Renderizando o Header -->
<%%= render "shared/scaffold/form_header" %>
<div class="card">
  <div class="card-body mt-5">
    <%%= render "shared/scaffold/form_errors" %>
    <%%= render "shared/scaffold/form_inputs", f: f %>
  </div>
  <%%= render "shared/scaffold/footer" %>
</div>
<%% end %>
