<% if @<%= singular_table_name %>.errors.any? %>
  <div class="alert alert-danger">
    <h4><%= t("common.errors_title", default: "Por favor, corrija os seguintes erros:") %></h4>
    <ul>
      <% @<%= singular_table_name %>.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
