<div class="page-header p-3 mb-4">
  <div class="d-flex justify-content-between align-items-center">
    <!-- Botão de Voltar e Título -->
    <div class="d-flex align-items-center">
      <%= link_to <%= plural_table_name %>_path, class: "btn btn-light d-flex align-items-center me-3" do %>
      <i class="fas fa-arrow-left me-2"></i> <!-- Ícone de Voltar -->
      <%= t("common.back", default: "Voltar") %>
    <% end %>
  </div>
  <h3 class="fw-bold mb-0"><%= t(".header", default: "#{singular_table_name.humanize} Form") %></h3>
</div>
</div>
